html, body {
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    margin: 0px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #3399ff;
    letter-spacing: -1px;

    &:active,
    &:visited,
    &:hover,
    &:link {
        text-decoration: none;
    }
}

select {
    background: transparent;
    border: 1px solid #BBB;
    padding: 3px;
}

h1 {
    margin: 10px 0px;
}

h2 {
    margin: 0px 0px 10px 0px;
}

::selection {
    background-color: #000;
    color: #FFF;
}
::-moz-selection {
    background-color: #000;
    color: #FFF;
}
