html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden; }

.hand, svg:first-of-type a, svg:first-of-type a:active, svg:first-of-type a:hover, svg:first-of-type a:visited, svg:first-of-type .menu, svg:first-of-type .socialCircle, svg:first-of-type .socialIcon, .foreignObjects .archive, .foreignObjects .link {
  cursor: pointer; }

@media only screen and (max-width: 767px) {
  svg .socialCircle, svg .socialIcon, svg .mobile {
    display: none; } }

#thom {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px; }

> svg {
  background: #EEE;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

svg:first-of-type .menu {
  fill: #7A7A7A;
  text-anchor: middle; }

svg:first-of-type .logo {
  fill: #111;
  fill-opacity: 1; }

.foreignObjects {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }
  .foreignObjects * {
    pointer-events: auto; }
  .foreignObjects > div {
    position: absolute;
    top: 0px;
    left: 0px; }
  .foreignObjects iframe {
    border: 0; }
  .foreignObjects .archive {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px; }
    .foreignObjects .archive .wrap {
      display: inline-block;
      padding: 20px; }
    .foreignObjects .archive .title {
      font-size: 1.5rem;
      line-height: 2rem; }
    .foreignObjects .archive .date {
      font-size: 1rem;
      display: inline-block;
      padding-left: 20px; }
  .foreignObjects .tags {
    color: #7A7A7A; }
  .foreignObjects .noUnderline {
    text-decoration: none; }
  .foreignObjects .tShapes {
    background-color: #00aced; }
    .foreignObjects .tShapes p {
      font-size: 20px; }
  .foreignObjects .socialBox {
    background-color: purple;
    padding: 10px;
    color: #FFF; }
    .foreignObjects .socialBox span {
      font-size: 1.4rem; }
    .foreignObjects .socialBox div {
      float: right;
      color: #BBB; }
  .foreignObjects .blox {
    background-color: #FA0;
    font-weight: 800; }

.foreignObjects .post, .foreignObjects .popup {
  background-color: #DDD;
  font-size: 1rem;
  padding: 10px 20px;
  overflow-y: auto; }

.foreignObjects .popup {
  z-index: 10000000000; }

.foreignObjects .pixels {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 55vh; }

.foreignObjects .link {
  color: #0000EE; }

.foreignObjects .one3 {
  float: left;
  width: 33%;
  margin: 2% 0%; }

.foreignObjects .two3 {
  float: left;
  width: 58%;
  margin: 2% 4%; }

.foreignObjects .three5 {
  float: left;
  width: 56%;
  margin: 0% 2%; }

.foreignObjects .fifty {
  float: left;
  width: 46%;
  margin: 0% 2%; }

.foreignObjects .clear {
  clear: both; }

.foreignObjects .element {
  color: #A00;
  font-weight: 700; }
  .foreignObjects .element:before {
    content: '<';
    color: #000; }
  .foreignObjects .element:after {
    content: '>';
    color: #000; }

.foreignObjects .editorObj {
  background-color: transparent;
  width: 100%;
  overflow: hidden; }

.foreignObjects .cTile {
  overflow: hidden; }

.foreignObjects .trans {
  background-color: transparent; }

.foreignObjects .x3dom, .foreignObjects .fullframe, .foreignObjects .fill {
  width: 100%;
  height: 100%; }

.foreignObjects .null {
  display: none; }
