.error {
    color: #eff1f5;
    background: #bf616a;
    font-weight: 600;
    font-size: 14px;
    padding: 20px;
    margin: 0px;
    white-space: pre-wrap;
    position: fixed;
    left: 0px;
    bottom: 0px;
    text-align: right;

    :global pre {
        text-align: left;
    }
}

.close {
    background: #FFF;
    color: #bf616a;
    border: none;
    font-weight: bold;
    cursor: pointer;
}